.menu-container {
    background-color: #d84315;
}

.sidebar a {
    color: #d84315;
}
.tag-title, .archive-title {
    background-color: #d84315;
}

a.tag-title, a.archive-title {
    color: #ffffff;
}

.theme-base .content a,
.theme-base .related-posts li a:hover {
    color: #d84315;
}

.theme-base a.tag {
    background-color: #d84315;
    color: #ffffff;
}

.fa-tag {
    background-color: #d84315;
    color: #ffffff;
}